<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeFresh</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">HomeFresh</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html">Iniciar Sesión</a></li>
            <li><a href="signup_1.html">Registrarse</a></li>
            <li><a href="reserve_0.html">Reserva Ahora</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ES <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">ES</a></li>
                <li><a href="#">CAT</a></li>
                <li><a href="#">EN</a></li>
                <li><a href="#">DE</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-xs-12" id="home-slider">
          <a href="#" class="thumbnail">
            <img src="img/bleach-cleaner.jpg"/>
          </a>
          <div>
            <h1>HomeFresh</h1>
            <h2>Disfruta mientras nosotros<br>nos encargamos de la limpieza</h2>
            <a href="reserve_0.html" class="btn btn-warning btn-lg btn-block">RESERVAR</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-4 home-section">
          <div class="thumbnail">
            <div class="home-icons">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </div>
            <div class="caption">
              <h3>De confianza</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
          </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 home-section">
          <div class="thumbnail">
            <div class="home-icons">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
            <div class="caption">
              <h3>Rápido y fácil</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 home-section">
          <div class="thumbnail">
            <div class="home-icons">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </div>
            <div class="caption">
              <h3>Cerca de ti</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer class="clearfix">
      <div class="col-xs-12 col-sm-6">
        <a href="#">Preguntas frecuentes</a> <span>|</span>
        <a href="#">Contacta con nosotros</a> <span>|</span>
        <a href="#">Blog</a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#">Síguenos en redes sociales</a>
      </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>

</html>
