{% load static %} <!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeFresh</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">HomeFresh</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ES <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">ES</a></li>
                <li><a href="#">CAT</a></li>
                <li><a href="#">EN</a></li>
                <li><a href="#">DE</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2 section start-session">
          <p>Antes de realizar una reserva hay que iniciar sesión o registrarse.</p>
          <form class="form-horizontal">
            <div class="col-xs-12 col-md-8 bar">
              <div class="form-group">
                <label class="col-sm-3 control-label">Usuario</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Contraseña</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control">
                </div>
              </div>
              <a href="reserve_1.html" class="btn btn-warning">Iniciar sesión</a>
            </div>
          </form>
          <div class="col-xs-12 col-md-4">
            <a href="signup_1.html" class="btn btn-warning btn-lg">Registrarse</a>
          </div>
        </div>
      </div>

    </div>

    <footer class="clearfix">
      <div class="col-xs-12 col-sm-6">
        <a href="#">Preguntas frecuentes</a> <span>|</span>
        <a href="#">Contacta con nosotros</a> <span>|</span>
        <a href="#">Blog</a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#">Síguenos en redes sociales</a>
      </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>

</html>
